*
!.bash_profile
!.bashrc
!.dmrc
!.gitignore
!.gtkrc-2.0
!.xmobarrc
!.xprofile
!.Xresources
!.xscreensaver
!.zshrc
!.xmonad
!.xmonad/xmonad.hs
!.config
!.config/alacritty
!.config/alacritty/alacritty.yml
!.config/helix
!.config/helix/config.toml
!.config/kak
!.config/kak/colors
!.config/kak/colors/*
!.config/kak/kakrc
!.config/onlyoffice
!.config/onlyoffice/DesktopEditors.conf
!.config/picom
!.config/picom/picom.conf
!.config/starship.toml
